.button{
  padding: 0.5em;
  border-radius: 0.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border:2px solid transparent;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.button.centered{
  align-self: center;
}

.button.dark-theme{
  background-color: rgb(42,40,42);
  color:rgb(251,249,255);
}
.button.dark-theme:hover{
  background-color: rgb(42, 40, 42);
  border: 2px solid rgba(251,249,255,0.7);
}

.button.light-theme{
  background-color: rgb(134,130,135);
  color: rgb(10,10,10);
}
.button.light-theme:hover{
  background-color: rgb(134,130,135);
  border:2px solid rgba(10,10,10, 0.7);
}

.button.transparent{
  background-color: rgba(0, 0, 0, 0);
}

.button.light-theme.transparent:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.button.dark-theme.transparent:hover{
  background-color: rgba(255,255,255,0.3);
}