.header {
  /* background-color: aquamarine; */
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.header .mini-menu {
  align-items: center;
  padding: 0.25em;
  border-radius: 0.25em;
  display: flex;
}
.header .mini-menu:last-child{
  margin-right: 0px;
}

.header .mini-menu:first-child{
  margin-left: 0px;
}

.header .mini-menu p{
  margin: 0.5em;
}

.header .mini-menu.transparent{
  background-color: rgba(0, 0, 0, 0);
}

.mini-menu.light-theme{
  background-color: rgb(134,130,135);
  color: rgb(10,10,10);
}

.mini-menu.dark-theme{
  background-color: rgb(42, 40, 42);
  color: rgb(251,249,255,);
}