.header {
  /* background-color: aquamarine; */
  /* margin: 0.5em; */
  padding: 0.5em;
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.header .mini-menu {
  align-items: center;
  padding: 0.25em;
  border-radius: 0.25em;
  display: flex;
  transition: all 400ms ease-in-out;
  max-height: 3em;
}
.mini-menu:last-child{
  margin-right: 0px;
}

.mini-menu:first-child{
  margin-left: 0px;
}

.header .mini-menu p{
  margin: 0.5em;
}

.header .mini-menu.transparent{
  background-color: rgba(0, 0, 0, 0);
}

.mini-menu.light-theme{
  background-color: rgb(134,130,135);
  color: rgb(10,10,10);
}

.mini-menu.dark-theme{
  background-color: rgb(42, 40, 42);
  color: rgb(251,249,255);
}

.mini-menu.button-menu{
  margin-left: 1em;
  overflow-x: auto;
  overflow-y: none;
}

.mini-menu.button-menu.light-theme{
  box-shadow: inset 0.5em 0 0.5em -10px rgba(42, 40, 42, 0.5);
}

.mini-menu.button-menu.dark-theme{
  box-shadow: inset 0.5em 0 0.5em -10px rgba(134,130,135,0.5);
}

.canvas.dark-theme{
  background-color: rgb(10, 10, 10);
}
.canvas.light-theme{
  background-color: rgb(251,249,255);
}

.canvas{
  transition: all 400ms ease-in-out;
}
