.divider{
  border-left: 2px dashed;
  height: 80%;
  width: 0px;
  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.divider.dark-theme{
  border-color: rgb(251,249,255);
}

.divider.light-theme{
  border-color: rgb(10,10,10);
}